{
  "extends": ["react-app"],
  "rules": {
    "no-warning-comments": [1, { "location": "anywhere" }]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint"
}
